main {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
}


.table_area {
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
    height: 70vh;
    margin-top: 20px;
}


.text {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
}

.small {
    font-size: .75rem;
}


/* TABLE */

.table {
    overflow: scroll;
    margin: 0 !important;
    text-align: left;
    position: relative;
    border-collapse: separate;
    border-spacing: 8px 3px;
}

.table>:not(caption)>*>* {
    padding: 0.35rem 0.35rem;
}

/* HEADER */
.legend {
    display: flex;
}

.legend_group div,
.how_to {
    display: inline-flex;
    text-align: center;
    padding: 5px;
    font-weight: 600;
    font-size: .75rem;
    margin: 3px 0px;
    vertical-align: middle;
}

.how_to {
    align-items: center;
}

.report_legend {
    border: 3px dashed #aaa !important;
}

.event_link_legend {
    border: 5px solid rgb(51, 51, 51) !important;
    background-color: #eee;
    padding: .2rem .2rem !important;
}

.noevent_link_legend {
    background-color: rgb(135, 135, 135) !important;
    color: white;
}

.header {
    /* background-color: #555; */
    /* color: #fff; */
    position: sticky;
    top: 0px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
    color: #222;
    font-size: .8rem !important;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 500;
}

.header th:first-child {
    background-color: #fff;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
    top: 0px;
    left: 0;
    position: sticky;
}


.q_header {
    background-color: #ddd !important;
    color: #222;
    position: sticky;
    top: 30px;
    font-weight: bold;
    text-align: center;
    font-size: .75rem !important;
    position: sticky;
    top: 30px;
    left: 0;
    z-index: 500;
}

.q_header th {
    border-bottom: 3px solid #ddd;
}

.q_header th:first-child {
    background-color: #fff;
    border-right: 0px;
    border-left: 0px;
    border-color: #fff;
    border-bottom-width: 0px !important;
    position: sticky;
    top: 30px;
    left: 0;
}

.q_header_line {
    border-left-width: 5px !important;
}

.event_sticky {
    position: sticky;
    top: 63px;
    left: 0px;
}


#sticky_start {
    left: 0;
    z-index: 20000;
    top:
}


.rightBorder {
    border-right: 1px solid rgb(60, 60, 60);
}


/* Internals */

.tableBody td {
    vertical-align: middle;
    font-weight: 600;
    font-size: .7rem !important;
    text-align: center;
    border-color: #fff;
    border: 2px solid #fff;

}

.table>:not(:first-child) {
    border-top: 0px !important;
}

td:empty {
    background-color: #fff !important;
}

#post_2025_climate,
#climate_finance_reporting,
#long_term_finance,
#standing_committee,
#financial_mechanism,
#loss_damage,
#adaptation_finance {
    background-color: #ddd;
    font-weight: 600;
    border-left: 0px;
    padding: 13px;
    margin-bottom: 13px;
    font-size: .75rem !important;
    position: sticky;
    left: 0;
    z-index: 1;
}


.submission {
    background: #aa4893 !important;
    color: #fff;
    text-align: center;
}

.meeting {
    background: #4d69b3 !important;
    color: #fff;
    text-align: center;
}

.deliberation {
    background: #459ea0 !important;
    color: #fff;
    text-align: center;
}

.deadline {
    background: #9b4558 !important;
    color: #fff;
    text-align: center;
}

.report {
    background: #439b56 !important;
    color: #fff;
    text-align: center;
}


.separator td {
    background-color: #c8c8c8;
    border-left-width: 0 !important;
    padding: 1px !important;
    border-top: 3px solid white;
}

.empty_q {
    background-color: #fff !important;
}



.key_border {
    color: #fff;
    border: 5px solid rgb(51, 51, 51) !important;
    background-color: rgb(135, 135, 135) !important;
    padding: .2rem .2rem !important;
    position: sticky
}

.no_border {
    color: #000;
    border: 3px solid #fff !important;
    background-color: #fff !important;
}

.td_border {
    border: 5px solid rgb(51, 51, 51) !important;
    color: #fff;
    /* filter: drop-shadow(0 0 0.75rem crimson); */
}

.report_year {
    border-top: 4px dashed #439b56 !important;
    border-right: 4px dashed #439b56 !important;
    border-bottom: 4px dashed #439b56 !important;
    border-left: 4px dashed #439b56 !important;
    background-color: #fff !important;
    /* border: 2px solid gray !important; */
    color: #000;
}

.meeting_year {
    border-top: 4px dashed #4d6ab2 !important;
    border-right: 4px dashed #4d6ab2 !important;
    border-bottom: 4px dashed #4d6ab2 !important;
    border-left: 4px dashed #4d6ab2 !important;
    background-color: #fff !important;
    color: #000;
}

.submission_year {
    border-top: 4px dashed #aa4893 !important;
    border-right: 4px dashed #aa4893 !important;
    border-bottom: 4px dashed #aa4893 !important;
    border-left: 4px dashed #aa4893 !important;
    background-color: #fff !important;
    color: #000;
}



/* Popup */


.subinfo {
    margin-bottom: 0px;
    margin-top: 13px;
}

.popup {
    font-size: .75rem;
}

.popup_deadline {
    background-color: #9b4558;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_submission {
    background-color: #aa4893;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_meeting {
    background-color: #4d6ab2;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_deliberation {
    background-color: #459ea0;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_report {
    background-color: #439b56;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_event {
    background-color: rgb(135, 135, 135) !important;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
    border: 3px solid rgb(51, 51, 51) !important;
}

.popup_p {
    margin-top: 5px;
    display: block;
    font-size: .75rem;
}

.phase_p {
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 0;
}

.phase_area {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.phase_area_group {
    display: flex;
    /* align-items: center; */
}

.phase_fill {
    height: 20px;
    width: 20px;
    top: 3px;
    background-color: rgb(121, 121, 121);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}

.phase_empty {
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}

@media (max-width: 900px) {
    main {
        width: 100%;
    }

    .tableBody td {
        font-size: .65rem !important;
    }

    .popup {
        font-size: .6rem;
    }

    .legend div {
        font-size: .75rem;
        padding: 5px;
        margin: 2px;
    }

    .q_header {
        font-size: .7rem;
        top: 26px;
    }

    .sticky {
        top: 55px;
    }

    .table>:not(caption)>*>* {
        padding: 0.25rem 0.25rem;
    }

}