main {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}

.legend img {
    display: flex;
    width: 75%;
}

@media (max-width: 900px) {
    .legend img {
        display: flex;
        width: 100%;
    }
}


.table_area {
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
    height: 70vh;
    margin-top: 20px;
}

.text {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
}

@media (max-width: 1200px) {
    .text {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 50px;
    }
}

.small {
    font-size: .75rem;
}

/* .table>:not(caption)>*>* {
    width: 300px;
} */




/* TABLE */

.table {
    overflow: scroll;
    margin: 0 !important;
    text-align: left;
    position: relative;
    border-collapse: separate;
    border-spacing: 0px 2px;

}

#table {
    background-color: #fff;
}

/* HEADER */

thead {
    background: #555;


}

th {
    font-size: .75rem;
}

.header {
    background-color: #555;
    position: sticky;
    top: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-style: hidden;
}

.header th:first-child {
    background-color: white;
    border-right: 0px;
    border-bottom: 0px;
}


.q_header {
    background-color: #6b6b6b;
    position: sticky;
    top: 34px;
    color: white;
    border-style: none;
    border-bottom-width: 0 !important;
    font-weight: bold;
    text-align: center;
}


.q_header th:first-child {
    background-color: white;
    border-right: 0px;
    border-color: white;
    border-bottom-width: 0px !important;
}

.q_header_line {
    border-left-width: 5px !important;
}


/* Internals */

.tableBody td {
    vertical-align: middle;
    font-weight: 500;
    font-size: .75rem;
    text-align: center;
    border-color: white;
    border: 2px solid #fff;
}

.table>:not(:first-child) {
    border-top: 0px !important;
}

#post_2025_climate,
#climate_finance_reporting,
#long_term_finance,
#standing_committee,
#financial_mechanism,
#loss_damage,
#adaptation_finance {
    background-color: #919191;
    color: white;
    font-weight: 600;
    left: 0;
    border-left: 0px;
    padding: 13px;
    margin-bottom: 13px;
}

.submission {
    background: #aa4893 !important;
    color: white;
    text-align: center;
}

.meeting {
    background: #4d6ab2 !important;
    color: white;
    text-align: center;
}

.deliberation {
    background: #459ea0 !important;
    color: white;
    text-align: center;
}

.deadline {
    background: #9b4558 !important;
    color: white;
    text-align: center;
}

.report {
    background: #439b56 !important;
    color: white;
    text-align: center;
}


/* td[colspan="2"],
td[colspan="3"],
td[colspan="4"] {
    text-align: center;
} */

.separator td {
    background-color: #c8c8c8;
    border-left-width: 0 !important;
    padding: 1px !important;
}


.sticky {
    position: sticky;
    top: 68px;
    border-bottom-width: 0 !important;
}

/* .key_events td {
    background-color: #fff;
    color: rgb(55, 55, 55);
    padding: 4px !important;
    font-weight: 400;
    font-size: 14px;
} */

.empty {
    background-color: white !important;
}

.empty_q {
    background-color: white !important;
    border-width: 0px;
}

.key_events {
    background-color: white !important;
}

.key_border {
    /* border-width: 1px; */
    background-color: rgb(219, 219, 219) !important;
    border: 7px solid rgb(219, 219, 219) !important;
    /* border-bottom: 5px !important; */
    color: black;
    /* background-color: #a9a9a9 !important; */
}

.sticky td {}

.td_border {
    border: 7px solid rgb(219, 219, 219) !important;
    border-top-width: 5px;
    color: white;
}

.report_year {
    border-top: 5px dashed #439b56 !important;
    border-right: 5px dashed #439b56 !important;
    border-bottom: 5px dashed #439b56 !important;
    border-left: 5px dashed #439b56 !important;
    background-color: white !important;
    color: black;
}

.meeting_year {
    border-top: 5px dashed #4d6ab2 !important;
    border-right: 5px dashed #4d6ab2 !important;
    border-bottom: 5px dashed #4d6ab2 !important;
    border-left: 5px dashed #4d6ab2 !important;
    background-color: white !important;
    color: black;
}

.submission_year {
    border-top: 5px dashed #aa4893 !important;
    border-right: 5px dashed #aa4893 !important;
    border-bottom: 5px dashed #aa4893 !important;
    border-left: 5px dashed #aa4893 !important;
    background-color: white !important;
    color: black;
}





/* Popup */


.subinfo {
    margin-bottom: 0px;
    margin-top: 13px;
}

.popup_deadline {
    background-color: #9b4558;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_submission {
    background-color: #aa4893;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_meeting {
    background-color: #4d6ab2;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_deliberation {
    background-color: #459ea0;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_report {
    background-color: #439b56;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}

.popup_p {
    margin-top: 5px;
    display: block;
}

.phase_p {
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 0;
}

.phase_area {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.phase_area_group {
    display: flex;
    /* align-items: center; */
}

.phase_fill {
    height: 20px;
    width: 20px;
    top: 3px;
    background-color: rgb(121, 121, 121);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}

.phase_empty {
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}

/* .quarter {
    background-color: rgb(176, 176, 176) !important;
    color: white;
    font-weight: 700;
} */

/* .year {
    background-color: rgb(119, 119, 119) !important;
    color: white;
    font-weight: 700;
} */