main {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.table_area {
    width: 100%;
}

.table_area {
    margin: 0 auto;
    overflow: scroll;
    height: 70vh;
    margin-top: 20px;
}

.table {
    overflow: scroll;
    margin: 0 !important;
    text-align: left;
    position: relative;
}

.legend img {
    display: flex;
    width: 75%;
}

@media (max-width: 900px) {
    .legend img {
        display: flex;
        width: 100%;
    }
}

.center {
    display: flex;
    justify-content: center;

}

.text {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 50px;
}

@media (max-width: 1200px) {
    .text {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 50px;
    }
}


.small {
    font-size: .5rem;

}

tbody td {
    vertical-align: middle;
    font-weight: 500;
    text-align: center;
}

.table>:not(:first-child) {
    border-top: none;
}

.table>:not(caption)>*>* {
    border-bottom-width: 5px;
    border-top-width: 5px;
    border-left-width: 5px;
    border-color: white;
}

td {
    border-collapse: collapse;
    border-color: white;
}



/* HEADER */

thead {
    background: #555;
    position: sticky;
    top: 0;
}

.header th {
    background-color: #555;
    color: white;
    font-weight: bold;
    text-align: center;
    border-style: none !important;
}

.header th:first-child {
    background-color: white;
    border-right: 0px;
}

.q_header th {
    background-color: #939598;
    color: white;
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    font-weight: bold;
    text-align: center;
    left: 0;
}

.q_header th:first-child {
    background-color: white;
    border-right: 0px;
}

.q_header_line {
    border-left-width: 5px !important;
}


/* Internals */

#post_2025_climate,
#climate_finance_reporting,
#long_term_finance,
#standing_committee,
#financial_mechanism,
#loss_damage,
#adaptation_finance {
    background-color: #939598;
    color: white;
    font-weight: 600;
    left: 0;
    border-left: 0px;
    padding: 13px;
    margin-bottom: 13px;
}

.submission {
    background: #f2b225 !important;
    color: white;
    text-align: center;
}

.meeting {
    background: #1f808d !important;
    color: white;
    text-align: center;
}

.deliberation {
    background: #ec3162 !important;
    color: white;
    text-align: center;
}

.deadline {
    background: #ed8027 !important;
    color: white;
    text-align: center;
}

.report {
    background: #005c3a !important;
    color: white;
    text-align: center;
}

.report_input {
    background: #81c77c !important;
    color: white;
    text-align: center;
}

.report_output {
    background: #31864b !important;
    color: white;
    text-align: center;
}

td[colspan="2"],
td[colspan="3"],
td[colspan="4"] {
    text-align: center;
}

.separator td {
    background-color: #c8c8c8;
    border-left-width: 0 !important;
    padding: 2px !important;
}

.sticky {
    position: sticky;
    top: 80px;
    border-bottom-width: 0 !important;
}

.sticky td {
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    background-color: #fff;
    color: gray;
    padding: 4px !important;
    font-weight: 400;
    font-size: 14px;
}

.empty {
    background-color: white;
}


/* Popup */


.subinfo {
    margin-bottom: 0px;
    margin-top: 13px;
}

.popup_deadline {
    height: 13px;
    width: 13px;
    background-color: #00507c;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.popup_submission {
    /* height: 13px;
    width: 13px; */
    background-color: #f2b225;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    /* border-radius: 50%; */
    display: inline-block;
    margin-right: 5px;
}

.popup_p {
    margin-top: 5px;
    display: block;
}

.phase_p {
    display: inline-block;
    padding-right: 5px;
    margin-bottom: 0;
}

.phase_area {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.phase_area_group {
    display: flex;
    /* align-items: center; */
}

.phase_fill {
    height: 20px;
    width: 20px;
    top: 3px;
    background-color: rgb(121, 121, 121);
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}

.phase_empty {
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    /* align-items: center; */
}